input {
  border: 1px solid #ccc;
  padding: 5px 10px;
  width: 250px;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

select {
  width: 150px;
  padding: 5px 10px;
}

.title {
  text-decoration: underline;
}
.details_form {
  /* display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; */
  padding: 20px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
}

.details_form div {
  width: 450px;
}
.details_form div label {
  margin-right: 15px;
  width: 300px;
}
.govtIdType {
  display: flex;
  align-items: center;
  /* gap : 10px; */
}
.govtIdType input {
  margin-left: 15px;
  width: 100%;
}

.contact {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  align-items: center;
  gap : 20px;
}

.gaurdianDetail{
    display: flex;
    align-items: center;
    gap: 10px;
}

.gaurdianDetail label{
    width : 200px;
}

.address{
  padding: 20px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap : 20px; 
}

.others{
      padding: 20px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap : 20px;
}